body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 50px;
}

h3 {
    color: #333;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #428bca;
    transition: color 0.3s ease;
}

a:hover {
    color: #3276b1;
}